name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.12
      uses: actions/setup-python@v2
      with:
        python-version: "3.12"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Create alembic versions directory
      run: |
        mkdir -p alembic/versions

    - name: Create alembic migrations
      run: |
        # Указываем тестовую базу данных SQLite
        export DATABASE_URL=sqlite+aiosqlite:///test_database.db
        # Генерация новых миграций (если структура моделей изменилась)
        alembic revision --autogenerate -m "create initial schema"
        # Применение миграций к тестовой базе данных
        alembic upgrade head

    - name: Run pre-commit hooks
      run: pre-commit run --all-files

    - name: Run Tests
      env:
        DATABASE_URL: sqlite+aiosqlite:///test_database.db
        API_KEY: 49e3725b-f829-4916-848b-e368b129865e
      run: pytest
